.o-dress {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: var(--black-color);
    }

    &__title {
        font-family: var(--additionalFont), sans-serif;
    }

    &__desc {
        font-weight: 300;
        text-align: center;
    }

    &__colors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 18px;
    }

    &__color {
        width: 73px;
        height: 73px;
        border-radius: 50%;
        overflow: hidden;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__vector {
        width: 100%;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
