.w-blocks {
    display: flex;
    flex-direction: column;
    gap: 80px;

    //&--first {
    //    margin-top: 40px;
    //
    //    @media (max-width: 1023px) {
    //        margin-top: 25px;
    //    }
    //}

    & + & {
        margin-top: 80px;
    }
}
