//======== Main colors =========//
:root {
    --basic-color: #000000;
    --black-color: #111111;
    --white-color: #F6F5F1;
    --white-color-60: rgba(246, 245, 241, 0.6);
    --white-bg-color: #ffffff;
    --beige-color: #E3D8CD;
    --green-color: #878D72;
    --green-color-60: #AEA89F;
}
