.o-about {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    &__time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        &-items {
            display: flex;
            align-items: center;
            gap: 42px;
        }

        &-item {
            display: flex;
            flex-direction: column;
        }

        &-count,
        &-desc {
            font-family: var(--additionalFont), sans-serif;
            font-size: 44px;
            font-style: normal;
            line-height: 30px;
            text-align: center;
            color: var(--black-color);
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    &__quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &-title,
        &-desc {
            text-align: center;
        }

        &-desc {
            font-weight: 300;
        }
    }

    &__invite {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;

        &-desc {
            font-weight: 300;
        }
    }
}
